.center_width{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
.container{
	width: 12rem;
	padding: 0;
}
/*最小宽*/
.min{
	min-width: 12rem;
}
.pc{
	display: block;
}
.mobile{
	display: none;
}
.gray10{
	border-bottom: .1rem solid #f4f4f4;
}



@media(min-width: 768px) and (max-width: 1200px){
	/*.header{
		min-width: 100vw;
	}
	.header .container{
		width: 100%;
	}
	.pc_slide{
		min-width: 12rem;
	}*/
}
@media(min-width: 768px) and (max-width: 991px){
	/*.mt218{
		margin-top: 2.03rem;
	}*/
}
@media(max-width: 767px){
	.container{
		width: 100%;
		overflow: hidden;
		/*padding: 0 .2rem;*/
	}
	.pc{
		display: none !important;
	}
	.mobile{
		display: block !important;
	}
}
@media (max-width: 460px){

}
@media (max-width: 350px){

}